@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@ViewBag.AnimeCharacter says: "@ViewBag.AnimeQuote"</p>
    <button onclick="changeMessage()">Change Message</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<script>
    function changeMessage() {
        const x = document.querySelectorAll('h1')[0];
        x.innerHTML = 'SEND HELP';
    }
</script>